<%= form_for(@wiki_page) do |f| %>
  <% if @wiki_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki_page.errors.count, "error") %> prohibited this wiki_page from being saved:</h2>

      <ul>
      <% @wiki_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :creation_date %><br />
    <%= f.datetime_select :creation_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
